.counter_container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.counter_display {
	font-size: 4rem;
	color: white;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid black;
}

.buttons_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
