.homepage{
    margin: 2.5rem;
    padding: 2.5rem;
    background-image: url('../../public/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 94vh;
}

.homepage section{
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: center;
    justify-self: center;
    gap: 2.5rem;
    text-align: center;
}

.homepage h1{
    font-size: 4rem;
    line-height: 1.5rem;
    color: var(--color-dark--1);
}

.homepage h2{
    width: 90%;
    font-size: 1.9rem;
    color: var(--color-dark--0)
}